body {
  background-color: (8, 36, 40);
  text-align: left;
}
.container {
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}
.lyrics p, pre {
  background-color: white;
  color: black;
  font-size: small;
  font-family: Trebuchet MS;
  width: 200px;
}
