body {
  background-color: (powderblue);
  text-align: left;
}
.container {
 
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 3px solid black;
}
.lyrics p, pre {
  background-color: (11, 35, 46);
  color: white;
  font-size: small;
  font-family: Trebuchet MS;
  width: 200px;
}
